.grid-places {}

.grid-places>.item {
    display: block;
    width: 280px;
    height: 80px;
    margin-bottom: 4px;
}

.grid-places>.item>.item-clickeable {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.grid-places>.item>.item-clickeable>.description-container {
    display: block;
    height: 80px;
    margin-left: 80px;
    padding-left: 5px;
}

.grid-places>.item>.item-clickeable>.description-container>.title {
    font-size: 14px;
}

.grid-places>.item>.item-clickeable>.description-container>.description {
    font-color: #757575;
    font-size: 13px;
    margin-bottom: 0px;
}

.grid-places>.item>.item-clickeable>.image-container {
    position: absolute;
    width: 80px;
}

.grid-places>.item>.item-clickeable>.image-container>img {
    width: 80px;
    height: 80px;
    z-index: 1000000;
}

.back-btn {
    cursor: pointer;
}